In [1]:
first_name = 'neha'
last_name = 'goyal'
print(f"{first_name} {last_name}")

neha goyal

In [2]:
number = input('enter any number: ')
print(number)

enter any number: 66
66

In [3]:
#tuple data type
number = ('44','66','75','88')
print(number)

('44', '66', '75', '88')

In [4]:
type(number)

tuple

In [5]:
#list data type
name = ['khushi','armaan','vandana','shikha']
print(name)

['khushi', 'armaan', 'vandana', 'shikha']

In [6]:
type(name)

list

In [7]:
name[1] = 'aditi'
print(name)

['khushi', 'aditi', 'vandana', 'shikha']

In [8]:
print(name[2])

vandana

In [9]:
name = '  neha   '
print(name.strip())

neha

In [10]:
print(4**5)

1024

In [13]:
#add the elements in the list
name = ['khushi','reenu','sagar']
name.append('meenakshi')
print(name)

['khushi', 'reenu', 'sagar', 'meenakshi']

In [14]:
name.insert(2,'deepak')
print(name)

['khushi', 'reenu', 'deepak', 'sagar', 'meenakshi']

In [15]:
del name[3]
print(name)

['khushi', 'reenu', 'deepak', 'meenakshi']

In [16]:
name.pop(1)
print(name)

['khushi', 'deepak', 'meenakshi']

In [ ]:
# for loop

In [17]:
students = ['taniya','kiran','reenu']
for student in students:
    print(f"hello {student.title()}")

hello Taniya
hello Kiran
hello Reenu

In [ ]:
#if else condition

In [19]:
number1 = input('enter any number: ')
number2 = input('enter any number again: ')
sum = (number1 + number2)
sum = int(sum)
print(sum)
if (sum/4 == 0):
    print('number is divisible by 4')
else:
    print('number is not divisible by 4')

enter any number: 55
enter any number again: 6
556
number is not divisible by 4

In [ ]:
#dictionary data type

In [20]:
country = {
    'khushi':  'india',
    'navjot':  'canada',
    'harman':  'uk',
    'vandana': 'usa'
}
print(country)

{'khushi': 'india', 'navjot': 'canada', 'harman': 'uk', 'vandana': 'usa'}

In [22]:
print(country['navjot'])

canada

In [23]:
type(country)

dict

In [24]:
#add new values in dict
country['sagar'] = 'australia'
print(country)

{'khushi': 'india', 'navjot': 'canada', 'harman': 'uk', 'vandana': 'usa', 'sagar': 'australia'}

In [29]:
#modify values in dict
country['harman'] = 'indonesia'
print(country)

{'khushi': 'india', 'navjot': 'canada', 'harman': 'indonesia', 'vandana': 'usa', 'sagar': 'australia'}

In [ ]:
#removing key value in dict

In [30]:
del country['khushi']
print(country)

{'navjot': 'canada', 'harman': 'indonesia', 'vandana': 'usa', 'sagar': 'australia'}

In [31]:
print(country.get('khushi','no value assign'))

no value assign

In [ ]:
#looping through dictionary

In [38]:
country = {
    'khushi': 'uk',
    'navjot': 'usa',
    'sagar': 'india'
}
for a,b in country.items():
print(f"\nkey: {a}")
print(f"value: {b}")

IndentationError: expected an indented block (<ipython-input-38-241a2cf1e2a3>, line 7)